* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	outline: none;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.logo{
	float:left;
	margin-top: 20px;
	margin-left: 40px;
}
.logo img {
	width: 30%;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
} 

header ul li a{
	display: inline-block;
	padding: 25px 20px;
}

header ul li a:hover {
	color: #FAB0B0; 
}

.active {
	color: #FAB0B0; 
}
section {
	padding: 50px 0;
}

img {
	float: center;
	width: 25%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
}

.custome-box{
	max-width: 700px;
	background-color: #FAB0B0;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
}
.custome-box:before,
.custome-box:after{
	content: '';
	clear: both;
	display: table;
}
.custome-box.hide{
	display: none;
}
.home-box h3{ 
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 25px;
}

.home-box p{
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
}

.home-box p span{
	font-weight: 500;
}

.btn{
	margin-top: 20px;
	padding: 15px 45px;
	background-color: #FFF8F8;
	color: #000000;
	border: none;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .answer,
.quiz-box .next-btn,
.quiz-box .question-number{
    width: 100%;
    float: left;
}
.quiz-box .question-number{
	font-size: 18px;
	color:#000000;
	font-weight: 600;
	border-bottom: 1px solid #FFF8F8;
	padding-bottom: 10px;
	line-height: 25px;
}
.quiz-box .question-text{
	font-size: 22px;
	color:#000000;
	font-weight: 400;
	padding: 20px 0px;
	line-height: 28px;
	margin:0;
}

.quiz-box .option-container .option{
	background-color: #ffffff;
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	margin-top: 5px;
	color: #000000;
	border-radius: 5px;
	border-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
}

.quiz-box .btn{
	margin: 15px 0px;
}

.quiz-box .answer{
	border-top: 1px solid #ffffff;
}

.quiz-box .answer div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 15px;
}
