* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


.logo{
    float:left;
    margin-top: 20px;
}
.logo img {
    width: 15%;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
} 

header ul li a{
    display: inline-block;
    padding: 25px 20px;
}

header ul li a:hover {
    color: #FAB0B0; 
}

.active {
    color: #FAB0B0; 
}

section {
    padding: 50px 0;
}

.kontak-header {
    text-align: center;
}

.kontak-header h2 {
    font-size: 2.5em;
    font-family: 'Arvo', serif;
    font-weight: 400;
    color: #19716C;
}
.kontak-header h2 span{
    color: #19716C;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.kontak-form {
    padding: 55px 65px;
    background: #ffdcdc;
    background-position: center;
    min-height: 450px;
    margin-top: 60px;
    border-radius: 60px;
}

.kontak-form form input {
    width: 100%;
    background: #fff;
    border: none;
    height: 40px;
    padding: 0 20px;
    margin: 15px 0;
    border-radius: 20px;
}

.kontak-form form textarea {
    width: 100%;
    background: #fff;
    border: none;
    min-height: 120px;
    padding: 10px 20px;
    margin: 0px 0;
    border-radius: 20px;
}

.kontak-form form input[type="submit"] {
    background: #F1FFFD;
    color: #000000;
    width: 80px;
    margin: 15px auto 0;
    font-size: 16px;
    font-weight: 200;
    float: right;
    display: flex;
    cursor: pointer;
    border-radius: 60px;
}

.kontak-form form input[type="submit"]:hover,
.kontak-form form input[type="submit"]:focus {
    background: #ff9292;
    color: #fff;
    transition: ease all 0.5s;
    border-radius: 60px;
}