* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.logo{
	float:center;
	margin-top: 20px;
	margin-left: 40px;
}
.logo img {
	width: 10%;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
} 

header ul li a{
	display: inline-block;
	padding: 25px 20px;
}

header ul li a:hover {
	color: #FAB0B0; 
}

.active {
	color: #FAB0B0; 
}

section {
	padding: 50px 0;
}

.banner {
	height: 350px;
	width: 1350px;
	background-image: url('../images/data.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(238, 252, 240, .4);
}

.data-header {
	text-align: center;
}

.data-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #19716C;
}
.data-header h3 span{
	color: #19716C;
}

.table {
	font-family: sans-serif;
	color: #0D928A;
	border-collapse: collapse;
	width: 50%;
	border: 1px solid #0D928A;
	margin-top: 50px;
}

.table tr th {
	background: #05504B;
	color: #fff;
	font-weight: normal;
}

.table, th, td {
	padding: 8px 20px;
	text-align: center;
}

.table tr:nth-child(even){
	background: #F1FFFD;
}
